/* Removing default Margin and Padding */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template: 100vh repeat(2, auto) / 100vw;
    text-align: center;
}

/*
    Header Layout
*/

.heading img {
    width: 100%;
}

.header {
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(12, 1fr);
    color: #c4c1c1;
    font-size: 1.1rem;
}

.heading {
    grid-area: 2 / 2 / span 10 /span 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 0.5rem;
    z-index: 1;
}

.heading p {
    font-family:'Times New Roman', Times, serif;
    width: 80%;
}

/*
    Header Background
*/

.bg {
    z-index: -1;
    grid-area: 1 / 1 / span 12 / span 12;
}

.bg.op {
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 0;
}

.bg video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}



/*
    Navigation bar
*/
.navigation {
    z-index: 1;
}

.navigation ol a {
    text-decoration: none;
    color: #c4c1c1;
}

.navigation ol a li {
    list-style-type: none;
    padding: 1.25rem 1.5rem;
}

.navigation ol li:hover {
    background-color: #808080;
    color: #000;
    border-radius: 0.65rem;;
}

@media only screen and (max-width: 768px) {
    .navigation {
        position:absolute;
        top: 2rem;
        right: 1.1rem;
    }

    /* Hamburger Button */
    .nav-btn {
        width: 2rem;
        height: 2rem;
        background-color:#0000009c;
        margin: auto;
        border-radius: 0.25rem;
        overflow: hidden;
        position: relative;
    }

    .hamburger div {
        width: 90%;
        height: 10%;
        background-color: #c4c1c1;
        margin: 23% auto;
        border-radius: 0.5rem;
    }

    .cross div:nth-child(1) {
        height: 10%;
        width: 85%;
        background-color: #c4c1c1;
        position: absolute;
        top: 45%;
        right: 5%;
        transform: rotate(45deg);
    }

    .cross div:nth-child(3) {
        height: 10%;
        width: 85%;
        background-color: #c4c1c1;
        position: absolute;
        top: 45%;
        right: 5%;
        transform: rotate(135deg);
    }

    .navigation ol {
        margin: 0.5rem 0;
        background-color: #0000009c;
        border-radius: 0.65rem;
    }

    .hidden-nav{
        display: none;
    }
    .heading p {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 768px) {
    .navigation {
        display: block;
        grid-area: 1 / 1 / span 1 / span 11;
    }
    
    .navigation ol {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
    }
    
    
}

.heading h1 {
    position: absolute;
    top: -10000px;
}

.header, .main, .footer {
    border: 2px solid black;
}

.main, .footer {
    height: 100vh;
}

